.bullets {
    margin-top: 60px;
    margin-bottom: 60px;
}
.bullets__list {
    // display: flex;
    // column-gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.bullets__item {
    @media screen and (max-width: 480px) {
        max-width: 450px;
        width: 100%;
    }

    @media screen and (min-width: 481px) {
        max-width: 100%;
        width: 450px;
    }
}
.bullets__icon-wrapper {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    background-color: $secondary-bg-color;
    border-radius: 4px;
}

.bullets__icon {
    width: 70px;
    height: 70px;
}
.bullets__title {
    margin-bottom: 10px;
    
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    text-align: center;

    color: $title-color;
}
.bullets__text {
    line-height: 1.71;
    letter-spacing: 0.42px;
}
@media screen and (min-width: 768px) {
    .bullets__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .bullets__item {
        width: 354px;
    }
    .bullets__title {
        text-align: left;
    }
}
@media screen and (min-width: 1200px) {
    .bullets__item {
        width: 270px;
    }
}