.button--primary {
    @extend %buttons;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    color: $contrast-text-color;

    background-color: $accent-color;
    box-shadow: 0px 4px 4px 0px $shadow-btn-color;
    cursor: pointer;
    transition: background-color $transition-rule;

    &:hover, &:focus {
        background-color: $accent-active-color;
    }
}

.button--secondary {
    @extend %buttons;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.48px;

    background-color: $secondary-bg-color;
    cursor: pointer;
    transition: background-color $transition-rule, color $transition-rule, box-shadow $transition-rule; 

    &:hover, &:focus {
        color: $contrast-text-color;
        
        background-color: $accent-color;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    }
}

.filter__btn--active {
    padding-left: 25px;
    padding-right: 25px;

    color: $contrast-text-color;
    
    background-color: $accent-color;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}