.header__contacts {
    @extend %list;
    @include flex(flex, center, flex-start);
    margin-left: auto;
    column-gap: 30px;
}

.contacts__link {
    @extend %link;
    @include flex(flex, center, flex-start);
    
    font-weight: 500;
    color: $primary-text-color;
    transition: color $transition-rule;
    transition-delay: 0ms;
}
.mobile-menu .contacts {
    @extend %list;

    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.mobile-menu .contacts__item:first-child {
    font-size: 34px;
    @media screen and (max-width: 479px) {
        font-size: 24px;
    }
    letter-spacing: 0.68px;

    .contacts__link {
        color: $accent-color;
    }
}
.mobile-menu .contacts__item:nth-child(2) {
    font-size: 24px;
    @media screen and (max-width: 479px) {
        font-size: 18px;
    }
    letter-spacing: 0.48px;
}
// .contacts__icon {
//     margin-right: 10px;
//     fill: currentColor;
//     &--email {
//             width: 16px;
//             height: 12px;
//         }
    
//     &--phone {
//         width: 10px;
//         height: 16px;
//     }
// }
@media screen and (max-width: 768px) {

    .header__contacts {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .header__contacts {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
    }
    .contacts__link {
        font-size: 12px;
    }
    .footer .contacts__link {
        font-size: 14px;
    }
    .header .contacts__item:first-child .contacts__link {
        padding-top: 21px;
    }
    .header .contacts__item:last-child .contacts__link {
        padding-bottom: 21px;
    }
    .contacts__icon {
        margin-right: 10px;
        fill: currentColor;
        &--email {
                width: 16px;
                height: 12px;
            }

        &--phone {
            width: 10px;
            height: 16px;
        }
    }
    
}
@media screen and (min-width: 1200px) {
    .header__contacts {
        flex-direction: row;
        align-items: baseline;
        row-gap: 10px;
    }
    .contacts__item:first-child .contacts__link {
        padding-top: 0;
    }

    .contacts__item:last-child .contacts__link {
        padding-bottom: 0;
    }
}