.page {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: $primary-text-color;

    background-color: $primary-bg-color;
}

.container {
    width: $container-width;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section__title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center;
    color: $title-color;
    margin-top: 0;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}