// colors
$accent-color: #2196F3;
$accent-active-color: #188CE8;
$primary-text-color: #757575;
$secondary-text-color: rgba(255, 255, 255, 0.60);
$contrast-text-color: #FFFFFF;
$logo-text-color: #000000;
$title-color: #212121;
$primary-bg-color: #ffffff;
$secondary-bg-color: #F5F4FA;
$accent-bg-color: #2F303A;
$icons-color: #AFB1B8;
$shadow-btn-color: rgba(0, 0, 0, 0.15);
$border-color: #ECECEC;
$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

// 
$container-width: 1200px;
$transition-rule: 250ms cubic-bezier(0.4, 0, 0.2, 1);